body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.ib {
  display: inline-block;
}

.info {
  vertical-align: top;
}

#msgBox {
  width: 70%;
  height: 480px;
  padding: 10px;
  background-color: #fff6de;
}